@import url('https://fonts.googleapis.com/css?family=Roboto');

input[type=search], select{
    border-radius: 4px;
    border: 1px solid gray;
}
input[type=search]:focus, select:focus{
      outline-width: 0;
}

.card{
    box-shadow: 0px 0px  8px #848484;
    border-left: 2px solid #285E70;
    margin: 10px;
}

.btn-add {
    background-color: #285E70;
    color: whitesmoke;
    margin-left: 11px;
}

.newItemField{
    margin: 7px 9px;
}


ul.no-bullets li
{
    list-style-type: none;
}

.btnEditDesc:hover{
    cursor: pointer;
}

.txtEditDesc{
    display: none;
}

.customLook{
  --tag-bg                  : #285E70;
  --tag-hover               : #62FF33;
  --tag-text-color          : #FFF;
  --tags-border-color       : silver;
  --tag-text-color--edit    : #111;
  --tag-remove-btn-bg--hover: black;
  --tag-remove-bg           : var(--tag-hover);

}