{% extends 'webInventory/passReset/passResetBase.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>

            <input type="email" class="form-control logCred" name="email" placeholder="Email Address" required id="id_email">
        </div>

        <div class="loginbtn">
             <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt loginIcon"></i> Submit</button>
        </div>


    </form>

{% endblock content %}
