{% extends 'webInventory/base.html' %}

{% block title %}Item Details{% endblock title %}

{% block header %}
        {% load static %}
             <link href="{% static 'webInventory/css/tagify.css' %}" rel="stylesheet" type="text/css">
             <script src="{% static 'webInventory/js/tagify.min.js' %}"></script>
             <link href="{% static 'webInventory/css/itemData.css' %}" rel="stylesheet" type="text/css">
             <script src="{% static 'webInventory/js/itemDetails.js' %}"></script>

{% endblock header %}



{% block content %}
    <div class="col-sm-12">

    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                    {% csrf_token %}
                    <div class="fieldContainer">
                    Name: <span class="field">{{ item.name }}</span><input type="text" class="itemName formEdit"
                                                             name="itemName" placeholder="Item Name" value="{{ item.name }}">
                                    <span data-toggle="tooltip" data-placement="right" title="Edit">
                                        <i class="fa fa-pencil-square-o btnEdit" aria-hidden="true" style="display:none"></i>
                                    </span><br>
                    </div>

                    <div class="fieldContainer">
                    Description: <span class="field">{{ item.description }}</span><input type="text" class="itemDesc formEdit"
                                                                           name="itemDesc" placeholder="Item Description" value="{{ item.description }}">
                                    <span data-toggle="tooltip" data-placement="right" title="Edit">
                                        <i class="fa fa-pencil-square-o btnEdit" aria-hidden="true" style="display:none"></i>
                                    </span><br>
                    </div>

                    <div class="fieldContainer">
                    Price: <span class="field">{{ item.price }}</span><input type="text" class="itemPrice formEdit"
                                                                           name="itemPrice" placeholder="Item Price" value="{{ item.price }}">
                                    <span data-toggle="tooltip" data-placement="right" title="Edit">
                                        <i class="fa fa-pencil-square-o btnEdit" aria-hidden="true" style="display:none"></i>
                                    </span><br>
                    </div>

                    <div class="fieldContainer">
                    Quantity: <span class="field">{{ item.quantity }}</span><input type="text" class="itemQuantity formEdit"
                                                                           name="itemQuantity" placeholder="Item Quantity" value="{{ item.quantity }}">
                                    <span data-toggle="tooltip" data-placement="right" title="Edit">
                                        <i class="fa fa-pencil-square-o btnEdit" aria-hidden="true" style="display:none"></i>
                                    </span><br>
                    </div>

                    <div class="fieldContainer">
                    Min. Quantity: <span class="field">{{ item.minQuantity }}</span><input type="text" class="itemMinQuantity formEdit"
                                                                           name="itemMinQuantity" placeholder="Item Min. Quantity"
                                                                             value="{{ item.minQuantity }}">
                                    <span data-toggle="tooltip" data-placement="right" title="Edit">
                                        <i class="fa fa-pencil-square-o btnEdit" aria-hidden="true" style="display:none"></i>
                                    </span><br>
                    </div>

                    SKU: <span class="field">{{ item.sku }}</span><input type="text" class="itemSKU formEdit"
                                                          name="itemSKU" placeholder="Item SKU" value="{{ item.sku }}"><br>
                    Barcode: <span>{{ item.barcode }}</span><br>
                    Created Date: <span>{{ item.created_on }}</span><br>
                    Tags:
                        <textarea name="itemTags" id="itemTags" class="itemTags customLook">
                        {% for tag in itemTags %}
                            {{ tag }},
                        {% endfor %}
                        </textarea>
                        <button type="submit" class="btn btn-add submit">Send POST</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        var textarea = document.getElementById('itemTags')
        const method = 'GET'
        const url = 'tags/'

        $.ajax({
            type: method,
            url: url,
            success: function(data) {
                console.log('Success')
                var tagify = new Tagify(textarea, {
                enforceWhiteList: true,
                whitelist: data['tags']
                })
            }
        });

    </script>
{% endblock content %}